.App {
  display: flex;
  align-items: flex-start;
}

.vehicle-list {
  width: 250px; /* Set the width of the menu */
  transition: all 0.3s ease;
  overflow: hidden;
  padding:8px
}

.vehicle-list.closed {
  width: 40px; /* Set the collapsed width of the menu */
}

.vehicle-list h2,
.vehicle-list .toggle-button,
.vehicle-list .show {
  display: block;
}

.vehicle-list .toggle-button span {
  display: block;
}

.vehicle-list .hide {
  display: none;
}

.toggle-button {
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.search-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute; 
  left: 10px;
  color: #ccc;
  /* float: right; */
  /* right:0; */
  padding: 8px 4px;
}

.search-input input[type='text'] {
  padding: 5px 30px 5px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map-container {
  flex: 1;
  height: 400px; /* Adjust the height as needed */
}
